.sectionTitle {
  text-align: center;
  margin: 0;
  padding: 5px;
  background-color: gray;
  color: white;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.featuredContainer {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
