@import '../assets/styles/global_variables.scss';

.sectionTitle {
  text-align: center;
  margin: 50px 0 0 0;
  padding: 5px;
  font-size: 3rem;
  font-weight: 400;
  color: black;
}

.titleLine {
  margin-bottom: 25px;
  width: 100px;
  border: 2px solid black;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.featuredContainer {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

@media screen and (min-width: $tablet-size) {
  .sectionTitle {
    margin-top: 70px;
  }
}

@media screen and (min-width: $extra-size) {
  .sectionTitle {
    margin-top: 100px;
  }

  .titleLine {
    margin-bottom: 50px;
  }
}
