@import '../assets/styles/global_variables.scss';

.container {
  border: 1px solid lightgray;
}

.service {
  padding: 10px;
  border-bottom: 1px solid lightgray;

  h3 {
    color: gray;
    margin-top: 5px;
  }

  p {
    color: gray;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }
}

.serviceLinkMobile {
  background-color: white;
  border: 0;
  border-bottom: 1px solid lightgray;
  height: 40px;
  width: 100%;
  text-align: start;
  color: gray;
  cursor: pointer;
}

.sideBar {
  display: none;
}

@media screen and (min-width: $tablet-size) {
  .container {
    display: flex;
  }

  .service {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      width: 30%;
    }
  }

  .serviceLinkMobile {
    display: none;
  }

  .serviceLinkDesktop {
    background-color: white;
    border: 0;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 20ch;
    padding: 20px;
    text-align: start;
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;
    cursor: pointer;
  }

  .sideBar {
    display: block;
  }

  .info {
    width: 70%;
  }
}
